#ab {
        font-family:Bahnschrift SemiBold;
        font-weight:800;
        
}
#abc {
    font-family:Bernard MT Condensed;
    font-weight:900;
    
}
#abcd {
    font-family:Bodoni MT Black;
    font-weight:800;
    
}
#abcde {
    font-family:Bahnschrift SemiBold;
    font-weight:400;
    
}
#abcdef {
    font-family:Bodoni MT Black;
    font-weight:400;
    
}
#abcdefg {
    font-family:Bodoni MT Condensed;
    font-weight:400;
    
}
